h2 { color: red;}

/*1. 속성 선택자*/
 /* div요소들 중 name 속성 값이 name1과 "일치"하는 요소 */
 div[name=name1] {
    background-color: orange;
 }

/* div요소들 중 name 속성 값이 name1과 "포함"하는 요소(공백으로 구분, 단어단위로) */

div[name~=name1]{
    color: blueviolet;
}


/* div요소들 중 class속성값이 class로 "시작"하는 요소 */
div[class^=class] {
    background-color: aquamarine;
}

/* div요소들 중 class속성값이 class로 "시작"하는 요소(단어단위로 -로 구분) */

div[class|=class]{
    color: blue;
}

/* div요소들 중 class속성값이 "끝"나는 요소 */
div[class$=ss]{
    font-size: 20px;
}

/* div요소들 중 class속성값이 i을 "포함"하는 요소 */
div[class*=i]{
    border : 1px dotted;
}

/* 응용 : class속성값이 div-class인 요소들 중에서 name속성값이
          name3이 포함되어있는 요소에 배경색 스타일 적용하기 */
.div-class[name*=name3]{
    background-color: coral;
}

/* 응용 : class속성값이 div-class인 요소들 중에서 name속성값이
          name3이 포함(단어로)되어있는 요소에 배경색 스타일 적용하기 
 .div-class[name~=name3]{
 background-color: coral;
} 
 */


 /* 2. 자손 선택자와 후손 선택자 */

/* id가 test1인 요소의 자손들중 h4요소만 선택 */
#test1>h4 {
    background-color: orange;
}

/* ul의 자손 요소들 선택*/
#test1>ul>li {
    background-color: beige;
}

/* id가 test1인 요소의 후손들 중 li 요소 선택 */
#test1 li {
    color: pink;
}


/* 3. 동위 선택자 */
/* id가 test2인 형제들 중 바로 뒤에 나오는 div 요소 하나만 */
#test2+div{
    background-color: aquamarine;
}

#test2+ul{
    background-color: yellow; /*선택이 안됨(바로 뒤의 요소가 아니기 떄문이다)*/
}

/* id가 test2인 형제들 중 div요소들 모두 선택 */
#test2~div {color: brown;}


/* 4. 반응 선택자 */
.area {
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
}

#active-test:active{
    background-color: blueviolet;
    color: white;
}

#hover-test:hover{
    background-color: orange;
    color: chartreuse;
}


#link:link{color: darkslategrey;}
/* 누르기 전 색깔 */
#link:hover{color: deeppink;}
/* 마우스를 올려 놓기만 하면 색깔이 나옴*/
#link:active{color: aqua;}
/* 눌렀을 때의 색깔 */
#link:visited{color: tomato;}
/* 누른 후 색깔 */


/* =================== 5. 상태 선택자 ================= */
input[type=checkbox]:checked {
    width: 30px;
    height: 30px;
}

/* 체크박스가 선택되면 글자도 커지게 스타일지정 */
input[type=checkbox]:checked+label{
    font-size: 30px;
}


input[name^=user]:focus {
    background-color: pink;
}

button:enabled {
    background-color: rgb(188, 125, 248);
}

button:disabled {
    background-color: yellowgreen;
}



/* ===================6. 일반 구조 선택자 ================= */

#summer :first-child {
    background-color: lightgray;
}

#summer :last-child {
    background-color: lightcoral;
}

#summer :nth-child(2) {
    background-color: lightcyan;
}
/* 두번째 색 */

#summer :nth-child(2n) {
    color: royalblue;
}
/* 짝수번째 색 (n=0부터 1씩 증가)*/
#summer :nth-child(2n+1) {
    color: greenyellow;
}
/* 홀수번째 색 (n=0부터 1씩 증가) */


/* ===================7. 형태 구조 선택자 ================= */
#fall p:first-of-type {
    background-color: lightgreen;
}

/*  오류가 난 이유는?  : 첫번째는 div인데 p태그로 잘못 기재했다고 인식이 안되는 것임.
    p태그로 하면 반드시 of type을 써야함
    p대신 div태그를 넣으면 실행됨
    #fail p:first-child {
    background-color: lightgray;
} */

#fall p:last-of-type{
    background-color: lightgray;
}

#fall p:nth-last-of-type(3){
    background-color: lightpink;
}

#fall p:nth-last-of-type(2n){
    background-color: lightsteelblue;
}

#fall p:nth-last-of-type(2n+1){
    background-color: lightskyblue;
}

/* =================== 8. 부정 선택자 ================= */

#winter :not(p:first-child) {
    color: darkorange;
}





