#wrapper{
    width: 100%;
}
/* header */
header{
    height: 60px;
    line-height: 60px;
}
/* 본문 */
section{
    height: 300px;
    background-color: rgba(0, 0, 65, 0.404);
    color: white;
}
aside{
    background-color: rgb(123, 121, 255);
}
footer{
    height: 50px;
}